
   body{
    padding: 0px;
    margin: 0px;  
    font-family: sans-serif;
  
   }   
   #menu{
    height: 30px;
    width: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer; 
}
.bar{
    height: 2px;
    width: 100%;
    background-color: #fdfdfd;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav li{
    list-style: none;
    padding: 10px 0;
}
.nav li:hover{
    font-weight: bold;
}
.nav{
    padding:0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}


.menu-bg, #menu-bar{
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bg{
    z-index: 3;
    width: 0;
    height: 0;
    background: radial-gradient(circle,rgb(5, 5, 5),rgb(0, 0, 0));
    opacity: 0.5;
    margin: 30px 0 40px 40px;
    border-radius: 50%;
    transition: 0.3s ease;
}
#menu-bar{ z-index: 4;}
.change-bg{
    width: 550px;
    height:540px ;
    transform: translate(-60%,-30%);
}
.change .bar{
    background-color: rgb(255, 255, 255);
}
.change #bar1{transform: translateY(6px) rotate(-45deg);}
.change #bar2{ opacity: 0;}
.change #bar3{transform:  rotate(45deg);}
.change{ display: block;}



 .container{
      width: 90%;
      margin: auto;
      overflow: hidden;
    }
    /* contact form css */


    #contact-section{
      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(images/contact.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100% ;
      
    }

    #contact-section .container h2{
      text-align: center;
       text-decoration: underline;
        /* text-decoration-color:red; */
        text-underline-position: under;
        color: rgb(238, 235, 235);
        letter-spacing: 2px;
        
    }

    

    #contact-section .container p{
      text-align: center; 
      width: 70%; 
      margin-left: auto;
       margin-right: auto; 
       padding-bottom: 3%;
       color: #fff;
       letter-spacing:3px;
    }

    .contact-form i.fa{
      /* color: red; */
      /* color: #fff; */
      font-size: 22px; 
      padding: 3%;
      background-color: none;
      border-radius: 80%;
      margin: 2%;
      /* border: 2px solid #fff; */
      cursor: pointer;
      border:2px solid rgb(190, 190, 190);
      color: rgb(190, 190, 190);
    }
    
    .contact-form i.fa:hover{
      cursor: pointer;
      border:2px solid white;
      color: white;
    }
     
      .contact-form{
        display: grid;
        grid-template-columns: auto auto;
         }
      
      .form-info{
        font-size: 16px;
        font-style: italic;
        color: white;
        letter-spacing: 2px;
      }
      input{
        padding: 10px;
        margin:10px;
        width: 70%;
        background-color:rgba(136, 133, 133, 0.5);
        color: white;
        border: none;
        outline:none;
      }

      input::placeholder{
        color: white;
      }
    
       textarea{
      padding: 10px;
      margin: 10px;     
      width: 70%;
      background-color:rgba(136, 133, 133, 0.5);
      color: white;
      border: none;
      outline:none;
     }
     textarea::placeholder{
       color: white;
     }
     
      
    
      .submit{
      width: 40%;
      background: none;
      padding: 4px;
      outline: none;
       /* border: 1px solid #fff;
      color: #fff; */
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 33px;
      text-align: center;
      cursor: pointer;
      letter-spacing: 2px;
      margin-left: 3%;
      border:2px solid rgb(190, 190, 190);
      color: rgb(190, 190, 190);
     }

     .submit:hover{
           border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
     }

        /* media queries */
    @media (max-width: 768px){

 #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
      }
      #contact-section .submit{

        width: 60%;
      }

  }
