*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}
body{
    font-size: 15px;
    margin: 0;
    font-family: sans-serif;
    
   
}
body p{
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    padding: 10px;
    color: white;
    position: relative;
    left: -30px;
}

.slide-container{
    display: flex;
    
}
.slide-box{
    flex-basis: 25%;
    height: 100vh;
    padding: 40px;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #000;
    transition: all 0.6s ease-out;
    background-size: auto 120%;
    background-position: center center;
    background-repeat: no-repeat;


}
.slide-box:last-child{
    border: 0;
}
.slide-container:hover .slide-box{
    flex-basis: 20%;
}
.slide-container:hover .slide-box:hover{
    flex-basis: 40%;
    transition: all 0.4s ease-out;
}
.slide-box:hover h2{
    font-size: 16px;
}
.slide-box:hover p{
    left: 0;
    opacity: 1;
    transition: all 0.4s ease-out 0.6s;
    font-size: 13px;
}
.slide-box-containt h2{
    margin: 0 0 20px;
    color: white;
}
.slide-box-containt p:last-child{
    margin: 0;

}